*.~bpg
*.~dsk
*.dsk
*.bak
*.dcu
*.ddp
*.~*
*.local
*.identcache
*.tvsconfig
*.bpl
*.cbk
*.dcp
*.o
*.rsm
*.skincfg
*.exe
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*.$$$
*.xxx
*.xxx2
__history
*.stat
